:root {
  --black-font-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --bcg-ourteam-color: #f5f4fa;
  --bcg-footer-heroes-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --wwd-color: #e5e5e5;
  --icon-color: #afb1b8;
}
body {
  background-color: var(--white-color);
  color: var(--black-font-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}
/*  RESET   */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* END RESET */

/*----Костыль для скрытия----*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*CONTAINER*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid tomato; */
}
/*HEADER*/
.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/*FLEX*/
.header-container {
  display: flex; /*AHTUNG - БЛОЧНАЯ МОДЕЛЬ*/
  align-items: center; /*AHTUNG-СТАВИТ ЧЁТКО ПО ЦЕНТРУ*/
}
.nav-list {
  display: flex;
}
.contacts-list {
  display: flex;
}
.header-contacts {
  margin-left: auto; /*AHTUNG - ПРИБИВАЕТ ВЛЕВО!*/
}
/*FLEX_ENDED*/
.logo {
  color: var(--black-font-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.nav-item:not(:last-child) {
  margin-right: 50px; /*AHTUNG - ВСЕ КРОМЕ ПОСЛЕДНЕГО*/
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  color: var(--black-font-color);
}
.link {
  text-decoration: none;
  display: block;
}
.nav-link:hover,
.contacts-link:hover,
.web-logo,
.web-logo:focus,
.address-link-map:hover,
.address-link:hover {
  color: var(--blue-color);
}
.current {
  color: var(--blue-color);
}
.contacts-link {
  font-weight: 500;
  color: var(--grey-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

/*--INDEX HTML MAIN*/
/*pcls-peculiarities, wwd: what-we-do--sections*/
/*******************HERO*****************/
.hide {
  display: none;
}
/*HERO*/
.hero {
  /* background-color: var(--bcg-footer-heroes-color); */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center; /*ВЫРАВНИВАЕТ КНОПКУ ПО ЦЕНТРУ*/
}
/********HERO-OVERLAY**********/
.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-color: var(--bcg-footer-heroes-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto 30px;
}
.section {
  padding: 94px 0;
}
/*----RESET PADDING OF SECTIONS----*/
.peculiarities {
  padding-bottom: 0px;
}
/*-----END OF RESET------*/
.pcls-section-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.pcls-section-post {
  line-height: 1.71;
  color: var(--grey-color);
  text-align: left;
  max-width: 270px;
}
.pcls-section-list {
  display: flex;
  justify-content: center;
}

.pcls-item:not(:last-child) {
  margin-right: 30px;
  margin-left: auto;
}

/*-------------PCLS-ICONS-------------*/
.pcls-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--bcg-ourteam-color);
  margin-bottom: 30px;
}
/* .pcls-item:nth-child(2)::before {
  background-image: url(../images/clock1.png);
} Один из вариантов*/
/* .pcls-item.icon-antenna::before {
  background-image: url(../images/antenna1.png);
}
.pcls-item.icon-clock::before {
  background-image: url(../images/clock1.png);
}
.pcls-item.icon-comp::before {
  background-image: url(../images/comp.png);
}
.pcls-item.icon-astronaut::before {
  background-image: url(../images/astronaut.png);
} */
/*------WHAT WE DO SCTN & OUR TEAM-------*/
.wwd-section-title,
.team-section-title-head {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.wwd-section-list {
  display: flex;
  justify-content: center;
}
.wwd-item:not(:last-child) {
  margin-right: 34px;
}
/*----------TEAM SECTION---------*/
.team {
  background-color: var(--bcg-ourteam-color);
}
.team-section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-section-post {
  font-size: 16px;
  line-height: 1.18;
  color: var(--grey-color);
  margin-top: 10px;
  margin-bottom: 16px;
}
.team-section {
  background-color: var(--bcg-ourteam-color);
}
.team-section-list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*-------------SOCIAL-LINKS---------------*/
.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  /* background-color: teal; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}
/*------------END OF SOCIAL LINKS------*/

/*ВЫРАВНИВАНИЕ ТЕКСТА В КАРТОЧКАХ*/
.box-team-section-text {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 0;
  border: transparent;
  border-radius: 0px 0px 4px 4px;
}
/*FOOTER*/
.footer {
  background-color: var(--bcg-footer-heroes-color);
  padding: 60px 0;
}
.address {
  font-style: inherit;
}
.address-link-map {
  line-height: 1.71;
  color: var(--white-color);
}
.address-link {
  line-height: 1.71;
  color: var(--footer-contacts-color);
}
.studio {
  color: var(--white-color);
}
.footer-logo {
  margin-bottom: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
/*BUTTONS*/
.btn {
  cursor: pointer;
  background-color: var(--bcg-ourteam-color);
  color: var(--black-font-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-color: transparent;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
}
.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
}
.btn.btn-main {
  color: var(--white-color);
  background-color: var(--blue-color);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
}
.btn.btn-main:hover {
  background-color: #188ce8;
}
/*КНОПКИ ПОРТФОЛИО*/
.section-pfo-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
/*PORTFOLIO*/
.section-pfo-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  /* margin-left: -30px;
  margin-bottom: -30px; */
}
.pfo-item {
  width: calc(100% / 3 - 30px);
  /* margin-left: 30px;
  margin-bottom: 30px; */
  margin: 15px;
}
/* .pfo-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
  margin-bottom: 30px;
} */
.section-pfo-title {
  color: var(--black-font-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.section-pfo-post {
  color: var(--black-font-color);
  font-size: 16px;
  line-height: 30px;
  color: var(--grey-color);
}
.box-section-pfo-title {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
